:root {
    --common-font: 'Roboto', sans-serif;
    --common-font-size: 1.2rem;

    --sidebar-bg-color: #1992D4;
    --sidebar-nav-color: var(--main-bg-color);
    --nav-btn-color: var(--sidebar-bg-color);

    --main-bg-color: rgba(255, 255, 255, .5);
    --main-font-color: #030304;

    --search-bg-color: var(--accent-bg-color);

    /* font color for projects, header and trend/annon boxes */
    --accent-bg-color: #E2E8F0;
    --accent-font-color: #fff;

    --annon-line-color: #ffffc7;

    --project-border-color: #ffffc7;
}
body {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;

}

.main_container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
    height: 100vh;
}

.sidebar {
    grid-row: 1 / 3;

    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-nav-color);

    display: flex;
    flex-direction: column;
    padding: 30px 30px;

    .title {
        display: flex;
        color: var(--accent-font-color);
        font-size: 2rem;
    }

    ul {
        margin: 30px 0;
        li {
            cursor: pointer;
            margin: 1rem;
            transition: color .2s ease-in-out;
            display: flex;


            &.active {
                color: var(--accent-font-color);
            }

            &:hover {
                color: var(--accent-font-color)
            }

            span {
                margin-right: 10px;
            }
        }
    }
}

.header {
    background-color: var(--main-bg-color);
    box-shadow: 0 2px 20px rgba(0,0,0,.5);
    z-index: 1;
    padding: 10px 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "search_container" "user_container";

    .search_container {
        grid-area: search_container;

        display: grid;
        grid-template-columns: auto 300px;
        gap: 30px;

        .search_bar {
            display: flex;
            align-items: center;

            label {
                margin-right: 1rem;
            }

            input {
                background-color: var(--search-bg-color);
                border: none;
                border-radius: 999px;
                font-size: 1.5rem;
                width: 100%;
            }
        }

        .user_notifications {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .alert_icon {
                span {
                    &.mdi-bell-ring-outline { display: none; }
                    &.mdi-bell-outline { display: block; }
                }

                &.active {
                    span {
                        &.mdi-bell-ring-outline { display: block; color: red;}
                        &.mdi-bell-outline { display: none; }
                    }
                }
            }

            .user_picture {
                border-radius: 50%;
                overflow: hidden;
            }

            .user_name {
                p {
                    font-weight: bold;
                }
            }
        }
    }
    .user_container {
        grid-area: user_container;

        display: grid;
        grid-template-columns: auto 300px;

        .user_presentation {
            display: flex;
            align-items: center;
            gap: 15px;

            padding: 0 15px;

            .user_picture {
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 75px;
                    width: 75px;
                }
            }

            .user {
                p {
                    font-size: 13px;
                }

                h3 {
                    margin-top: 1em;
                    font-weight: bold;
                }
            }
        }

        .user_actions {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .btn {
                background: var(--nav-btn-color);
                border: none;
                padding: 10px 25px;
                border-radius: 999px;
                color: var(--main-bg-color);
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    color: white;
                }

            }
        }
    }
}

.main {
    background-color: var(--accent-bg-color);
    padding: 20px;

    display: grid;
    grid-template-columns: auto 250px;
    gap: 15px;

    .title {
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .main_section {
        .main_container {
            display: grid;
            gap: 15px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 250px);

        }

        .card {
            background-color: var(--main-bg-color);
            border-radius: 10px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 2px 20px rgba(0,0,0,.5);
            border-left: 10px solid orange;

            .content {
                h4 {
                    font-weight: bold;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 13px;
                }
            }

            .actions {
                display: flex;
                justify-content: flex-end;
                gap: 15px;
                
                span {
                    cursor: pointer;
                    background: transparent;
                    padding: 10px;
                    border-radius: 50%;
                    transition: background-color .2s ease-in-out;

                    &:hover {
                        background: rgba(0, 0, 0, 0.4);
                    }
                }
            }
        }
    }

    .main_sidebar {
        height: 100%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;

        .trending,
        .announcements {
            display: flex;
            flex-direction: column;

            .container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                background: var(--main-bg-color);
                width: 80%;
                height: 100%;
                border-radius: 10px;
                padding: 10px 20px;

                hr {
                    width: 80%;
                }
            }
        }

        .announcements {
            .card {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                max-height: 100px;



                .card_title {
                    font-weight: bold;
                }

                .card_content {
                    font-size: 13px;
                }
            }
        }

        .trending {

            .card {
                display: flex;
                align-items: center;
                gap: 15px;

                img {
                    border-radius: 50%;
                    height: 50px;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 10px;

                    .pseudo {
                        font-weight: bold;
                    }
                    .comment {
                        font-size: 10px;}
                }
            }
        }

    }
}

